<%= form_for @user do |f|%>
<table>
  <tr>
    <td> First Name </td>
    <td> <%= f.text_field :first_name%></td>
  </tr>
  <%  @user.errors.full_messages_for(:first_name).each do |fnameErr| %>
  <tr><td colspan="2"> <%= fnameErr %></td></tr>
  <% end%>
  <tr>
    <td> Last Name </td>
    <td> <%= f.text_field :last_name%></td>
  </tr>
  <%  @user.errors.full_messages_for(:last_name).each do |lnameErr| %>
  <tr><td colspan="2"> <%= lnameErr %></td></tr>
  <% end%>
  <tr>
    <td> Email </td>
    <td> <%= f.text_field :email%></td>
  </tr>
  <%  @user.errors.full_messages_for(:email).each do |emailErr| %>
  <tr><td colspan="2"> <%= emailErr %></td></tr>
  <% end%>
  <tr>
    <td> password </td>
    <td> <%= f.password_field :password%></td>
  </tr>
  <%  @user.errors.full_messages_for(:password).each do |pwErr| %>
  <tr><td colspan="2"> <%= pwErr %></td></tr>
  <% end%>
  <tr>
    <td> </td>
    <td> <%= f.submit "Submit"%></td>
  </tr>
</table>
<% end %>
