<h1>Users#index</h1>
<%= link_to "Add New User", new_user_path %>
<table>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Action</td>
  </tr>
  <% if @user.empty? %>
    <tr><td colspan="5">No Users Found</td></tr>
  <% else %>
    <% @user.each do |user| %>
    <tr>
      <td> <%= user.first_name %></td>
      <td> <%= user.last_name %></td>
      <td> <%= user.email %></td>
      <td>
        <%= link_to "Show", user_path(user.id) %>
        <%= link_to "Edit", edit_user_path(user.id) %>
        <%= link_to "Delete", user_path(user.id), method: :delete,
                data: {confirm: "Are you sure you want to delete this user "+ user.first_name + " " + user.last_name + "?"} %>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>
